<%
  @menu_current = "services"
  @page_title = "Services"
%>
<%= stylesheet_link_tag 'button' %>
<a class='button yellow' href='/paper_downloads/new' style='position:absolute;margin-left:700px;text-align:center;margin-top:12px;'>Download free e-book<br>"Power of Social Customer"</a>

<div class="text-head"><h1>Our Services</h1><hr /></div>
<div class="keyword-logo-services"><img src="/images/keywords-logo.jpg" /></div>
<div class="bottom-text"><p>We provide a customer centric information feed for "big data" projects by aggregating unsolicited and unstructured customer feedback data.</p></div>
<hr />
<div class="services-1-2-3">
  <div class="text-box"><span>Social Customer Intelligence studies for your market segments. <a href=http://blog.cx-iq.com/wp-content/uploads/2013/02/2012-Customer-Experiences-influence-Consumer-Selections_FR.pdf target=_blank>See an example</a>.</span></div>
  <div class="text-box" style="margin-left:20px;"><span>Link satisfaction and loyalty metrics (by channel) with shipping, return and other operational metrics to help you understand and improve customer experience.</span></div>
  <div class="text-box" style="margin: 120px 0 0 20px;"><span>Market Intelligence studies of Purchase Drivers Analysis. <a href=http://blog.cx-iq.com/wp-content/uploads/2013/02/Purchase-Drivers-MIA.pdf target=_blank>See an example</a>.</span></div>
</div>
<hr class="hr-260px" />
<div class="bottom-text"><p>We automate conversion of the qualitative data into structured information ready to integrate with Financial, Operational and CRM data sources for Business Linkage Analysis.</p></div>
<hr />
<div class="bottom-text"><p>Call today at <span style="font-size: 20px; font-weight: bold; color:#27488a;"> 415-373-2627 </span> or <a href=<%= contact_us_path %>>Contact Us</a></p></div>
