*.swp
*.swo
.*.swp
.*.swo
*.*~
log/*.log
.DS_Store
.LCK*
db/*.sqlite3
db/*.sqlite3-journal
db/schema.rb
coverage/*
public/javascripts/all.js
nbproject
log/*
tmp/*
db/*.sqlite3
db/development_structure.sql
mkmf.log
.idea
db/copy_stripped_dump.sh
db/load_stripped_dump.sh
index
public/reports/*
db/database.yml
config/database.yml
etc/*
public/sitemap
.bundle/
