body{
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
background-image:url(../Images/services_background_back.jpg);
height:746px;
background-repeat:repeat-x;
}
.fix_width{
width:843px;
margin:0px auto 0px auto;
}
.powerwrap_top{
background-image:url(../Images/pagewrap_top.png);
height:164px;
width:843px;
background-repeat:no-repeat;
}
.contain_background{
background-image:url(../Images/contbg_top.jpg);
width:797px;
height:348px;px;
}

.contain_middle{
background-image:url(../Images/contaiain_middle.jpg);
width:797px;
height:10px;
}

.contain_middle_1{
background-image:url(../Images/contain_middle_1.jpg);
width:797px;
height:143px;
}


.contain_middle_1_bottom{
background-image:url(../Images/contbg_bottom.png);
width:797px;
height:82px;
}


.matter_text{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#272727;
}