<%
  @menu_current = "methodology"
  @page_title = "Methodology - Opinion Mining"
%>
<div class="text-head"><h1>Our Methodology</h1><hr /></div>
<div class="keyword-logo-methodology"><img src="/images/keywords-logo.jpg" /></div>
<div class="methodology-1-2-3">
<div class="text-box"><h3>The Content</h3><span>- customer reviews of <a href=http://blog.amplifiedanalytics.com/wp-content/uploads/2013/02/Methodology-Notes.pdf target=_blank>specific product</a> models are located on public websites and forums, authenticated, de-duped and aggregated for the contextual analysis of the creators sentiments. All content is back-linked to the original source and individuals who have contributed it.</span></div>
<div class="text-box"><h3>The Process</h3><span>The content of the customer reviews is processed by Opinion Miner© software to discover which attributes are important to customers and to <a target=_blank href="https://www.youtube.com/watch?v=w0DkTz5rZ_k&feature=plcp">measure how important</a> they are. The sentiments, associated with each discovered attribute, are quantified and translated into <a href="https://www.youtube.com/watch?v=pG7J1QOuvJg" target=_blank>Customer Experience (CX) metrics.</a></span></div>
<div class="text-box" style="margin: 85px 0 0 22px;"><h3>The Insights</h3><span>The analysis of CX metrics and their benchmarking of competing products illuminates opportunities for  <a target=_blank href="http://www2.onlinemeetingnow.com/register/?id=4040771203&v1=blgsdbr">New Product Development</a> to exploit unmet customer needs, empowers <a target=_blank href="https://www.youtube.com/watch?v=ftkFrPnb2gk&feature=plcp">Strategic Marketing</a> to get better returns on marketing investments and <a href="http://blog.amplifiedanalytics.com/2012/12/the-essense-of-brand-and-customer-experience/" target=_blank>CEM</a> professionals to deliver superior experience.</span></div>
</div>
<hr class="hr-330px" />
<div class="bottom-text"><p>Our "self-learning" software employs Natural Language Processing (NLP) and Sentiment Analysis techniques with Statistical Models enriched by contextual linguistic analysis and behavioral economics business rules.</p></div>
<hr />
<div class="bottom-text"><p>Call today at <span style="font-size: 20px; font-weight: bold; color:#27488a;"> 415-373-2627 </span> or <a href="<%= contact_us_path %>">Contact Us</a></p></div>
