<div id="footer">
  <p id="footer-title">&copy; 2010-2013 Customer Satisfaction Analytics Inc.</p>
  <ul>
    <li><%= link_to 'Home', root_path -%></li>|
    <li><%= link_to 'Products', products_path -%></li>|
    <li><%= link_to 'Submit', '/V2P-Product-Reviews/Product-Submit' -%></li>|
    <li><%= link_to 'Services', services_path -%></li>|
    <li><a href="http://blog.cx-iq.com">Blog</a></li>|
 	<li><a href="/Contact-Us?return_url=/home.seam">Contact Us</a></li>
  </ul>
</div>
