    <div style="position: relative">
      <div id="Menu">
    	<ul>
       	  <li><a href="/Contact-Us?return_url=/home.seam" class="navbut_contactus"></a></li>
	      <li><a href="http://blog.amplifiedanalytics.com" class="navbut_blog"></a></li>
          <li><%= link_to "", services_path, :class=>'navbut_services' -%></li>
       	  <li><%= link_to "", products_path, :class=>'navbut_products' -%></li>
       	  <li><%= link_to "", root_path, :class=>'navbut_home' -%></li>
       	</ul>
      </div>
    </div>