<% @page_title = 'Contact Us - Amplified Analytics' -%>
<% content_for :top_content_area do -%>
    <div id="content_top">
      <div id="content_area">
        <img src="/images/contactus/telluswhatyouthink2.png" alt="Tell Us What You Think" />
      </div>
      <div id="message_area">
      </div>
    </div>
<% end -%>
<div style="height:200px;">
  <br/><br/>
  <p class="message infoMessage">
    <span class="rich-messages-label">
      <h1 style="text-align: center">Thank you for your interest!</h1>
      <% if params[:schedule_demo] %>
        <hr>
        <div class="bottom-text"><p> The demo time confirmation will be sent to your email address.</p></div>
      <% end %>
    </span>
  </p>
</div>
