<div id="content_area">
  <img src="/images/prmir_pricingpage_header.png" alt="Choose your pricing plan...">
  <p>Please contact us at <a href="mailto:sales@amplifiedanalytics.com">sales@amplifiedanalytics.com</a> or call 1-415-373-2627 for special discount pricing.</p>
  <%= link_to 'Go Back', categories_path, :class=>'goback_button' %>
</div>