<div id="content_area">
  <h2>You have exceeded our standard configuration limits.</h2>
  <div id="prmir_main">
    <br />
    <br />
    <p>
      These limits are set to promote best practices for strategic planning which depend on thoughtful selection of a small list of currently available products that share a common “job” their customers “hire” these products to do.
    </p>
    <p>
      Please <%= link_to 'contact us', contact_us_path -%> if you require a different approach to Customer Intelligence analytics, and we will be happy to create a custom configuration to support your needs.
    </p>
  </div>
</div>
