<% @page_title = 'Customer Satisfaction Research - Amplified Analytics' -%>
<% content_for :top_content_area do -%>
    <div id="content_top">
	<center>
            <h1 id="welcometoprm" style='margin-top:40px;color:#222;'>Welcome to the Opinion Miner<sup style='font-size:14px'>©</sup> Platform</h1>
<p style='font-size:15px;color:#222;line-height:40px;'>
             We translate online customer reviews into Customer Experience Metrics.
</p>
</center>
    </div>
<% end -%>
<div id="content_middle">
  <br />
  <div class="clearer"></div>
  <ul id="welcome_prm_content">
    <li>
      If you want to see basic Reputation Scores, click <a class='button yellow small' href="<%= v2p_accelerator_demo_path -%>">V2P</a>  and start entering the name of a popular consumer brand, like Samsung or Bose, and select a product from the dropdown list.
    </li>
    <li>
     We use customer experiences to help shoppers make the right choice for their needs. Click <a class='button yellow small' href=http://www.what-is-the-best-phone-for-me.com/ target=_blank>P2P</a> to see our Personalized Smartphone Recommendation App. 
    </li>
    <li>
     We can help your company improve its Customer Experience, Social Customer Engagement and Advocacy. Click <a href=/product_groups class="button yellow small">CEM Intelligence</a> to see a set of dashboards for sample products.
    </li>
  </ul>

  <div class="clearer"></div>


</div>
