<% @page_title = 'Consumer Reports Analysis - Amplified Analytics' -%>
<div id="products_pagewrap_top">
  <h1 id="products_header_new">The Power Of Many Little Voices</h1>

  <p class="introtext">
    We employ multi-dimensional semantic analysis of customer generated content to convert explicit and implicit
    sentiments found in free-format text, into specific and actionable metrics
  </p>
 <!--
  <div id="subnav">
    <ul>
      <li><%= link_to "Amplified WOM analyzer <sup>(tm)</sup>", products_wom_path, :class=>'prodnav_WOMin_new inactive' -%></li>
      <li><%= link_to "Market Intelligence Reporter <sup>(tm)</sup>", products_prm_path, :class=>'prodnav_PRMin_new inactive' -%></li>
      <li><a href="#" class="prodnav_Methodologyac"></a></li>
    </ul>
  </div> -->
</div>

<!--END Pagewraptop-->
<div id="pagewrap_middle">
  <div id="content_top">
    <div id="content_area">
      <br/>
      <h2 class="product_name_header">Our Methodology</h2>
    </div>
  </div>
  <div id="content_middle">
    <div id="content_area">
      <p>
        We employ proprietary*, multi-dimensional semantic analysis of customer generated content to convert
        explicit and implicit sentiments found in free-format text, into specific and actionable metrics.
        We keep the metrics objective and unbiased by:
      </p>
      <ol style="padding: 10px 0px 10px 60px;">
        <li>Depending solely on consumer reviews about any and all products we rate</li>
        <li>Excluding any and all manufacturer sponsored editorial reviews</li>
        <li>Not depending on advertising support</li>
        <li>Filtering out duplicate reviews even if they are found on multiple sites</li>
      </ol>

      <br/>
      <h2 class="product_name_header">Terms</h2>
      <div class="clearer"></div>
      <br/>

      <h3 class="meth_term_header">Product Functionality Score</h3>
      <br/>

      <p class="terms">
        The Functionality Score measures the gap between customer expectations of a product and their actual
        experience with it. It is easy to misinterpret low product functionality score as a lack of functions and
        features. If this truly was the case, customers would simply choose not to buy the product with an inadequate
        set of functions relative to its cost, unless OEM marketing messages did not raise their expectations.
      </p>
      <br/>
      <p class="terms">
        Therefore, the Functionality Score can be used by product managers in the process of next
        generation design to learn which product functions their customers treasure and/or despise, AND by product
        marketers in the effort of extending the product's life by fine tuning marketing communications.
      </p>
      <br/>

      <h3 class="meth_term_header">Product Reliability Score</h3>
      <br/>

      <p class="terms">
        The Reliability Score measures the gap between the customer's expectations of a product's performance over its
        life-cycle and their actual experience with that product. A low reliability score points a Product Manager to
        potential problems in either the manufacturing or packaging processes that can be addressed before the erosion
        of their brand value begins. Timely defense of the product's reliability reputation helps to reduce downward
        pricing pressures, increases in advertising costs per unit, and preserves margins.
      </p>
      <br/>

      <h3 class="meth_term_header">Product Support Score</h3>
      <br/>

      <p class="terms">
        The Product Support Score measures the delta between the customer's expectations of a product's support against
        their actual experience. Currently it is an aggregate score that measures performance of a channel, delivery,
        and technical support organizations combined. Timely defense of the product support reputation helps to prevent
        escalation of transactional costs of returns and repairs.
      </p>

      <p class="disclaimers">* Patent Pending</p>

	          </div>

	        </div>
	        <!--END ContentMiddle-->
	        <div id="content_bottom">
	        </div>
	        <!--END contentbottom-->
	      </div>