<% @page_title = 'Market Research - Amplified Analytics' -%>
<div id="products_pagewrap_top">
  <h1 id="products_header_new">The Power Of Many Little Voices</h1>

  <p class="introtext" style="line-height: 23px;">
    Our Market Intelligence Reporter helps YOU to analytically AMPLIFY what your customers are saying about THEIR
    experience with YOUR product management decisions and YOUR eventual profitability.
  </p>

  <div id="subnav">
    <ul>
      <li><%= link_to "Amplified WOM analyzer <sup>(tm)</sup>", products_wom_path, :class=>'prodnav_WOMin_new inactive' -%></li>
      <li><%= link_to "", products_prm_path, :class=>'prodnav_PRM' -%></li>
      <li><%= link_to "Our Methodology", products_methodology_path, :class=>'prodnav_Methodologyin_new inactive' -%></li>
    </ul>
  </div>
</div>

<!--END Pagewraptop-->
<div id="pagewrap_middle">

  <div id="content_top">
    <div id="content_area">
    </div>
  </div>

  <div id="content_middle">
    <div id="content_area">
      <h2 class="product_name_header" style="float: left;">Product Reputation Market Intelligence Reporter</h2>
      
      <div id="prmir_showcase">
        <div id="tour">
          <iframe src="http://player.vimeo.com/video/26076095?title=0&amp;byline=0&amp;portrait=0" width="351" height="263" frameborder="0"></iframe>
        </div>
        <!--/tour-->

        <div id="pricing">
          <a href="<%= categories_url %>" class="clickherebtn">Get Started Today</a>
        </div>
        <!--/pricing-->

      </div>
      <!--/prmir_showcase-->

      <div id="feature_list">
        <h2>PRMIR&#8482; Product Features</h2>
        <ul>
          <li class="mag_icon">Discover the competitive position of a product within its category against its closest
            competitors
          </li>
          <li class="comment_icon">Zoom in on filtered verbatim access to learn the root cause of specific scores</li>
          <li class="paper_icon">Print out your findings via PDF export to easily share with your colleagues</li>
          <li class="pres_icon lastchild">Download the data for offline use to incorporate in your executive
            presentations
          </li>
        </ul>
      </div>
      <!--/feature_list-->

      <div id="faq">

        <h2>Frequently asked questions:</h2>
        <h4>What does the term &quot;Product Reputation&quot; actually mean?</h4>

        <p>Product Reputation measures the difference between customer expectations and their actual experience with the
          product. We compare these products using a common methodology of measuring their functionality, reliability
          and support reputations.</p>

        <h4>How many products do you monitor with the PRMIR?</h4>

        <p>New products are added every minute, while customer comments are analyzed the moment they are discovered and
          made available via the PRMIR as soon as their number become statistically representative to produce confident
          measurements.</p>

        <h4>What if I can't find any product reputation metrics for my product?</h4>

        <p>Please use the &quot;<a href="/ContactUs">contact us</a>&quot; form on our main site, provide us with the
          manufacturer, name and model of the product, and we will do our best to find, add and analyze any available
          customer feedback to produce metrics.</p>

      </div>
      <!--/faq-->


    </div>
  </div>
  <!--END ContentMiddle-->
  <div id="content_bottom">
  </div>
  <!--END contentbottom-->
</div>
