<%
  @page_title = "Tour - Voice of Customer"
%>
<div class="share-icons" style="left:820px">
      <div class="facebook"><a href="http://www.facebook.com/home.php#!/pages/Amplified-Analytics/125557687467210" title="Facebook"></a></div>
      <div class="mail"><a href="mailto:support@amplifiedanalytics.com" title="Mail"></a></div>
      <div class="twitter"><a href="http://twitter.com/piplzchoice" title="Twitter"></a></div>
      <!-- <div class="fav"><a href="#" title="FAV"></a></div>
      <div class="plus"><a href="#" title="Plus"></a></div> -->
</div>
<div class="product-tour-buttons"><img src="/images/product-tour-buttons.png" border="0" usemap="#product-tour" /></div>
<map name="product-tour">
<area coords="3,16,158,142" shape="rect" title="Define" alt="Define" id="BOX" href="/images/ScrShoot-Define.jpg">
      <area coords="229,68,383,192" shape="rect" title="Select" alt="Select" id="BOX" href="/images/ScrShoot-Select.jpg">
      <area coords="466,118,618,243" shape="rect" title="Discover" alt="Discover" id="BOX" href="/images/ScrShoot-Discover.jpg">
      <area coords="701,170,853,293" shape="rect" title="Learn" alt="Learn" id="BOX" href="/images/ScrShoot-Learn.jpg">
</map>
<div class="keyword-logo-product-tour"><img src="/images/keywords-logo.jpg" /></div>
<div class="BTN-case-study"><a href="<%= new_paper_download_path %>"><img src="/images/BTN-download-white-paper.gif" alt="Download White Paper" border="0" /></a></div>
<div class="BTN-shedule-live-demo"><a href="/Contact-Us?schedule_demo=true"><img src="/images/BTN-shedule-live-demo.gif" alt="Case Study" border="0" /></a></div>
