<% content_for :top_content_area do -%>
  <div id="content_top">
    <div id="content_area" style="overflow:visible;">
      <img src="/images/confirm_email.jpg" alt="Email Confirmation"  style="padding:50px 0 0 160px;" />
    </div>
  </div>
<% end -%>

<div id="content_area">
  <p style="padding:160px 200px 200px 160px; background:url(/images/envelope_transp.png) 160px 1px no-repeat;">
    Now we need to confirm your email address to avoid a possibility of not being able to deliver to you the reports you create. Please go to your email box and click on the link to complete the registration.
  </p>
</div>