<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= stylesheet_link_tag 'Modal.css' %>
  <%= render 'shared/google_analytics_head' -%>
</head>
<body bgcolor="#FFFFFF">
   <div id="pagewrap_middle_modal" class="modalwrap" style="height: 98%">
   <img src="/images/pdf_logo.png"><br />
     	<p style="font-family: Arial; font-size: 22px; font-weight: bold" align="center">AMPLIFIED ANALYTICS TERMS OF USE AND LICENCING AGREEMENT
     	</p>

    <div id="content_middle_modal1" class="contentLayer">
      <div id="content_area_modal" class="contentLayerBody">
        <table width="100%">
          <tbody>

          <tr>
            <td class="review_hdr_title">
              <div class="rich-panel " id="j_id4" style="padding-left: 5px; padding-right: 5px;overflow: auto">
                <div class="rich-panel-body body3" id="j_id4_body">
          <p style="text-align: justify;">
These terms and conditions (&ldquo;Terms of Use&rdquo;) govern use of the Amplified Analytics&rsquo;s software
and services provided to you and / or the business you represent (together &ldquo;You&rdquo; and &ldquo;Your&rdquo;) by
Amplified Analytics, Inc. (&ldquo;Amplified Analytics&rdquo;) through the Amplified Analytics website at:
http://www.Amplified Analytics.com, or other designated web site (the &ldquo;Site&rdquo;). BY
ACCESSING AND USING THE SERVICES AND/OR CLICKING AN ACCEPTANCE BOX
YOU ARE INDICATING YOUR ACCEPTANCE TO THESE TERMS OF USE AND ARE
AGREEING TO BE BOUND BY THESE TERMS OF USE. IF YOU DO NOT AGREE WITH
THESE TERMS OF USE, YOU MUST NOT ACCEPT THIS AGREEMENT AND MAY NOT
USE THE SERVICES.
          </p>


          <p style="text-align: justify;">
BY AGREEING TO THESE TERMS OF USE, YOU REPRESENT AND WARRANT THAT
YOU HAVE AUTHORITY TO BIND THE COMPANY YOU REPRESENT TO THESE
TERMS OF USE, AND YOUR AGREEMENT TO THESE TERMS OF USE WILL BE
BINDING UPON YOUR COMPANY.
          </p>



          <p style="text-align: justify;">
        	<b>1. DEFINITIONS.</b><br />
            1.1. &ldquo;Content&rdquo; means all materials displayed or provided via the Services including, but not
            limited to information, text, graphics, news articles, photographs, images, illustrations, audio
            clips and video clips. Content excludes Customer Data.<br />
            1.2. &ldquo;Customer Data&rdquo; means specific proprietary information provided by Customer in
            connection with the Services.<br />
            1.3. &ldquo;Services&rdquo; means the online web-based application provided by Amplified Analytics via the
            Site including related professional and training services and materials that may be provided in
            connection with use of the application.<br />
            1.4. &ldquo;Order&rdquo; means a separate online or written ordering document, describing the type of
            service, subscription term, pricing and other information on the Services provided by Amplified
            Analytics. Each Order shall be effective when signed or electronically authorized by You and
            Amplified Analytics.<br />
            1.5. &ldquo;Seat&rdquo; means a license for a single individual to use the Services. Seats are assigned to
            named individual users authorized by You to use the Services and who have been supplied user
            identifications and passwords by You or by Amplified Analytics on Your behalf. Seats may be
            assigned to users who are Your employees, consultants, contractors and agents provided that
            You are responsible for their usage. The maximum number of Seats that may be assigned for
            access to the Services is specified in the Order.            
          </p>


          <p style="text-align: justify;">
        	<b>2. SERVICES.</b><br />
2.1. Subject to Your compliance with the terms and conditions of these Terms of Use, Amplified
Analytics will provide access to the Services, as described more fully on the Site, solely for Your
own internal business purposes (and not for the use or benefit of any third party) and subject to
any restrictions in Your Order, including access and use by the number of Seats identified in
Your Order. Amplified Analytics reserves the right to modify or discontinue any aspect of the
Services at any time, including the availability of any feature, database, or Content and/or
impose limits on certain features and services and/or restrict Your access to parts of the Services
by providing You with prior notice. In the event of a material modification or discontinuance
with respect to the Services, You may, on written notice to Amplified Analytics, terminate the
Services 10 days after Amplified Analytics&rsquo;s receipt of such notice.<br />
2.2. Amplified Analytics may periodically upgrade or enhance the Services at any time without
notice to You.
          </p>

          <p style="text-align: justify;">
        	<b>3. TERM.</b><br />
Your Subscription to the Services will be in effect for the time period set forth in Your
applicable Order (the &ldquo;Subscription Term&rdquo;), which will automatically renew for additional
Subscription Terms of the same duration unless either party provides notice of its intention not to
renew at least thirty (30) days prior to the end of the then-current Subscription Term.
Notification of non-renewal for monthly online orders may be given on or before each monthly
billing cycle anniversary date. Any renewal Subscription Term is subject to the payment of the
applicable renewal fees, if any, 30 days prior to the start of the next Subscription Term (or other
period as set forth on the Order). Amplified Analytics reserves the right to change the applicable
fees or charges and to institute new charges and fees at the end of the initial Subscription Term
or then current renewal Subscription Term upon 60 days prior notice to You (which may be sent
by email). Failure to pay the applicable renewal fees will result in automatic revocation and
termination of the Services and all rights and licenses granted hereunder at the end of the existing
Subscription Term.
          </p>

          <p style="text-align: justify;">
        	<b>4. FEES AND PAYMENT.</b><br />
You shall pay to Amplified Analytics the applicable fees for the Services. Fees are due and
payable at the beginning of the Subscription Term or in accordance with Your Order. If You
provide credit card information to Amplified Analytics, You authorize Amplified Analytics to
bill such credit card at the time You order any Services, for all Services set forth in the Order,
and at the time of any renewal, for the amount charged for any renewal Subscription Term(s). If
You did not pay by credit card, Amplified Analytics shall bill You through invoice, in which
case payment is due 30 days from the invoice date or as described in Your Order. Delinquent
payments are subject to late payment fees equivalent to 1.5% of the overdue balance per month
(or the maximum permitted by law, whichever is lower), plus any expenses associated with
collections. Payments must be made in US dollars. Fees are exclusive of all taxes, levies, and
duties imposed by taxing authorities, and You are responsible for all such taxes, excluding taxes
based solely on Amplified Analytics&rsquo;s income. If and when additional Seats are added to Your
account, You will be invoiced for such additional Seats, which will be prorated for the balance of
the then-current Subscription Term. Any billing disputes must be reported to Amplified
Analytics in writing within 60 days of the date of the invoice. All fees paid are non-refundable. If
Your account is 30 days or more overdue (except with respect to fees or charges for which there
is a reasonable and good faith dispute), Amplified Analytics reserves the right to suspend the
Services without liability until such amounts are paid in full, in addition to any of its other rights
or remedies.</p>
<p style="text-align: justify;">
        	<b>5. YOUR RESPONSIBILITIES.</b><br />
You are responsible for all activity occurring under Your user accounts. You will: (i) maintain
the accuracy, completeness, and timeliness (within 30 days of any change) of the information
You provide in Your account registration and information You provide on Your users; (ii)
purchase a sufficient number of Seats for your usage, e.g., assigning and using only one Seat per
person (You shall not use or share a Seat among multiple users); (iii) notify Amplified Analytics
of any changes to any users; and (iv) notify Amplified Analytics promptly of any unauthorized
use of any password or account or any other known or suspected breach of security. You are
responsible for obtaining, maintaining, and supporting all internet access, computer hardware,
and other equipment and services needed for Your access to the Services. The Services may not
be exported or re-exported directly or indirectly in violation of any applicable export laws or
used for any purposes prohibited by such export laws.</p>
<p style="text-align: justify;">
        	<b>6. RESTRICTIONS.</b><br />
You agree not to: (i) use the Services except as expressly authorized in these Terms of Use; (ii)
copy, modify, or create derivative works based on the Services; (iii) use any device, software, or
routine that (a) interferes with any application, function, or use of the Services, or (b) is intended
to damage, detrimentally interfere with, surreptitiously intercept, or expropriate any system, data,
or communication; (iv) resell, sublicense, time-share, or otherwise share the Services with any
third party; (v) frame or mirror the Site; (vi) decompile, disassemble or reverse-engineer the
underlying software that is part of the Services or otherwise attempt to derive its source code;
(vii) use the Services either directly or indirectly to support any activity that is illegal; (viii)
access the Services in order to build a competitive service or product; (ix) access the Services for
purposes of monitoring its availability, performance or functionality absent Amplified Analytics
written permission; or (x) authorize any third parties to do any of the above.</p>
<p style="text-align: justify;">
        	<b>7. CONFIDENTIALITY.</b><br />
As used herein, &ldquo;Confidential Information&rdquo; means all confidential and proprietary information of
a party (&ldquo;Disclosing Party&rdquo;) disclosed to the other party (&ldquo;Receiving Party&rdquo;), whether orally or in
writing, that is designated as confidential or that reasonably should be understood to be
confidential given the nature of the information and the circumstances of disclosure, including
the terms and conditions of this Agreement (including pricing and other terms reflected in all
Order Forms hereunder), Customer Data, the Services, Content, business and marketing plans,
technology and technical information, product designs, and business processes. The Receiving
Party shall not disclose or use any Confidential Information of the Disclosing Party for any
purpose outside the scope of this Agreement, except with the Disclosing Party&rsquo;s prior written
permission. Confidential Information (except Customer Data) shall not include any information
that: (i) is or becomes generally known to the public without breach of any obligation owed to
the Disclosing Party; (ii) was known to the Receiving Party prior to its disclosure by the
Disclosing Party without breach of any obligation owed to the Disclosing Party; (iii) was
independently developed by the Receiving Party without breach of any obligation owed to the
Disclosing Party; or (iv) is received from a third party without breach of any obligation owed to
the Disclosing Party.</p>
<p style="text-align: justify;">
        	<b>8. PROPRIETARY RIGHTS.</b><br />
Amplified Analytics and/or its licensors own all worldwide right, title and interest in and to the
Services and the Content, in any form, format, forum, medium, means, or method now known or
hereafter developed, including all related intellectual property rights throughout the world, and
any suggestions, ideas, enhancement requests, feedback, recommendations that may be provided
by You relating to the Services and the Content. You may not delete or in any manner alter the
copyright, trademark, and other proprietary rights notices appearing on the Content or the
Services. You agree to abide by all access and use restrictions contained in any Content made
available through the Services. As between Amplified Analytics and You, You exclusively own
all rights, title and interest in and to all Customer Data.</p>
<p style="text-align: justify;">
        	<b>9. TERMINATION.</b><br />
Either party may terminate this Agreement for cause upon 30 days written notice of a material
breach to the other party if such breach remains uncured at the expiration of such period.
Amplified Analytics may immediately suspend access to or terminate the Services if Amplified
Analytics reasonably determines that Your actions are interfering with or disrupting the integrity
or performance of the Services or are likely to cause legal liability for Amplified Analytics or its
licensors or other customers. Further, with respect to the SalesView Free version of the Services,
either party may terminate this Agreement for convenience at any time.</p>
<p style="text-align: justify;">
        	<b>10. EFFECTS OF TERMINATION.</b><br />
Upon any expiration or termination of the Subscription Term or the Agreement, the rights and
licenses granted hereunder will automatically terminate, and You may not continue to use the
Services. Termination shall not relieve You of the obligation to pay any fees accrued or payable
to Amplified Analytics under the Agreement or applicable Order. The provisions of Sections 3
through 14 will survive termination. Amplified Analytics is under no obligation to retain
Customer Data on expiration of the Subscription Term.</p>
<p style="text-align: justify;">
        	<b>11. DISCLAIMER.</b><br />
Amplified Analytics is not responsible or liable for the accuracy, content, completeness, legality,
reliability, or availability of the Services or any Content and other materials displayed via the
Services. You assume sole responsibility and liability for Your use of the Services, including,
without limitation, any Content that is accessed therein. THE SERVICES AND ALL CONTENT
THERIN ARE PROVIDED ON AN "AS IS" AND &ldquo;AS AVAILABLE&rdquo; BASIS, WITHOUT
WARRANTIES OF ANY KIND, EITHER EXPRESS, IMPLIED, STATUTORY OR
OTHERWISE, INCLUDING, WITHOUT LIMITATION, ANY WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NONINFRINGEMENT,
TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW.</p>
<p style="text-align: justify;">
        	<b>12. INDEMNITY.</b><br />
Amplified Analytics will defend, indemnify and hold You harmless from and against any finally
awarded damage, liability or cost (including reasonable attorneys&rsquo; fees) to the extent that it is
based upon a third party claim that the Services, as provided by Amplified Analytics and used
within the scope of these Terms of Use, infringes any third party&rsquo;s U.S. copyright or trademark
rights. You will defend, indemnify and hold Amplified Analytics and its licensors harmless from
and against any finally awarded damage, liability or cost (including reasonable attorneys' fees)
resulting from a third party claim that Your use of Customer Data, Content, or the Services: (i) in
violation of this Agreement, infringes any third party&rsquo;s U.S. copyright or trademark rights or has
otherwise harmed a third party; or (ii) violates applicable law. A party&rsquo;s obligation to indemnify
the other party is contingent upon: (i) the indemnified party promptly notifying the indemnifying
party in writing of the claim; (ii) the indemnifying party having sole control of the defense and of
any negotiations for its settlement; and (iii) the indemnified party providing the indemnifying
party with reasonable assistance, information, and authority necessary to perform the above.</p>
<p style="text-align: justify;">
        	<b>13. LIMITATION OF LIABILITY.</b><br />
13.1. IN NO EVENT SHALL AMPLIFIED ANALYTICS&rsquo;S AGGREGATE LIABILITY
ARISING OUT OF OR RELATED TO THIS AGREEMENT, WHETHER IN CONTRACT,
TORT OR UNDER ANY OTHER THEORY OF LIABILITY, EXCEED THE TOTAL
AMOUNT PAID BY YOU HEREUNDER IN THE TWELVE MONTHS PRECEDING THE
INCIDENT GIVING RISE TO LIABILITY.<br />
13.2. IN NO EVENT SHALL AMPLIFIED ANALYTICS OR ITS LICENSORS HAVE ANY
LIABILITY TO YOU FOR ANY LOST PROFITS OR REVENUES OR FOR ANY
INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, COVER OR PUNITIVE
DAMAGES HOWEVER CAUSED, WHETHER IN CONTRACT, TORT OR UNDER ANY
OTHER THEORY OF LIABILITY, AND WHETHER OR NOT YOU HAVE BEEN
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING DISCLAIMER
SHALL NOT APPLY TO THE EXTENT PROHIBITED BY APPLICABLE LAW.</p>
<p style="text-align: justify;">
        	<b>14. GENERAL.</b><br />
These Terms of Use are intended for the sole and exclusive benefit of the parties and is not
intended to benefit any third party. Only the parties hereto may enforce it. If any provision is
found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum
extent necessary so that these Terms of Use will otherwise remain in full force and effect and
enforceable. These Terms of Use are not assignable, transferable or sublicensable by You except
with Amplified Analytics' prior written consent. No agency, partnership, joint venture, or
employment is created as a result of these Terms of Use. Each party must abide by all applicable
local, state, national and foreign laws, treaties and regulations in connection with the Services,
including those related to export regulations, data privacy, international communications and the
transmission of technical or personal data. All notices required hereunder will be in writing and
will be deemed to have been duly given when received/delivered. These Terms of Use shall be
governed by the laws of the State of California without regard to its conflict of laws provisions.
In the event that any legal action, including arbitration, is required to enforce or interpret any of
the provisions of this Agreement, the prevailing party in such action shall recover all reasonable
costs and expenses, including attorney's fees, incurred in connection therewith. Any waiver,
amendment or modification of these Terms of Use must be in a writing signed by both parties.
These Terms of Use (along with any applicable Order) are the complete and exclusive statement
of the mutual understanding of the parties and supersedes and cancels all previous written and
oral agreements, communications and other understandings relating to the subject matter of these
Terms of Use. To the extent of any conflict or inconsistency between the provisions in the body
of these Terms of Use and any Order, the terms of such Order shall prevail. Notwithstanding any
language to the contrary therein, no terms or conditions stated in a Customer purchase order or in
any other Customer order documentation (except an Order) shall be incorporated into or form
any part of this Agreement, and all such terms or conditions shall be null and void.
</p>

                </div></div></td>
</tr>
</tbody>
</table>
   	 </div>
    </div>


    <div id="content_bottom_modal" class="bottomLayer">
    </div>
   </div>
  <%= render 'shared/google_analytics' if RAILS_ENV == 'production' -%>
</body>
</html>
<!--
  </rich:modalPanel>
 -->