<h1>New product submitted</h1>
Username: <%= @params[:username] rescue ""%><br>
Company email: <%= @params[:email] rescue ""%><br>
Company name:<%= @params[:manufacturer] rescue "" %><br>
Product reviews url:<%= @params[:review_url_1] rescue ""%><br>
