.editbox {background: url(../images/smlfieldboxshadow.jpg) no-repeat top center; border-style: solid; width: 350px; height:44px; font-family:Verdana; font-size:14px; color: #555555; padding-left: 3px; padding-right: 3px; padding-top: 2px;}

.editboxNormal {background: url(../images/smlfieldboxshadow.jpg) no-repeat; border-style: solid; width: 297px; height:44px; font-family:Verdana; font-size:14px; color: #555555; padding: 0 0 0 0;}
.editbox1 {width: 200px; height:20px;  float:left; margin:2px; border: 1px solid #7F9DB9;  font-family:Verdana; font-size:12px; color: #555555; padding: 2px;}
.editbox2 {float:left; border: 1px solid #7F9DB9;  font-family:Verdana; font-size:12px; color: #555555; padding: 2px;}

.longEditbox { width: 110%; height:25px;  float:left; margin:0px; border: 1px solid #7F9DB9;  font-family:Verdana; font-size:12px; color: #555555; padding: 2px;}

.selectBox {
	width: 207px; 
	height:25px;  
	float:left; 
	margin:2px; 
	border: 1px solid #7F9DB9;  
	font-family:Verdana; 
	font-size:12px; 
	color: #555555; 
	padding: 2px;
}

.aai_label1 {font-family: Arial, Tahoma, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; font-size: 13px; font-weight: bold; line-height: 17px; color: #555555;}

.aai_login_editbox {background: none; border-style: solid; width: 300px; height:24px; font-family:Verdana; font-size:14px; color: #555555; padding-left: 3px; padding-right: 3px;}
.aai_login_label {font-family: Arial, Tahoma, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; font-size: 16px; line-height: 17px; color: #555555;}

.aai_panel_header {display: none;}

.aai_panel_body {border-style: none; border: none; background: transparent; border-width: 0px;}

.aai_panel {border-style: none; border: none; background: transparent; border-width: 0px;}

.aai_panel_column {vertical-align: top;}

.prd_panel_wrapper 
{
/*	position: relative;
	height: auto !important;
	width: 100%;*/
	height: 380px;
}

.prd_panel_left 
{
	width: 60%;
	float: left;
}

.prd_panel_right 
{
	width: 30%;
	float: right;
	padding-right: 40px;
}

.normalHeading {
	font-family: Arial, Tahoma, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	font-size: 24px; 
	font-weight: bold; 
	color: #555555	
}

.Heading2 {
	font-family: Arial, Tahoma, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	font-size: 20px; 
	font-weight: bold; 
	color: #555555	
}

.Heading3 {
	font-family: Arial, Tahoma, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	font-size: 14px; 
	font-weight: bold; 
	color: #555555	
}

.boldLabels {
	font-family: Arial, Tahoma, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	font-size: 15px; 
	font-weight: bold; 
	color: #555555	
}


.blueHyperLink {
	font-family: Arial, Tahoma, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	text-decoration: underline;
	color: #3F9AD3;
	font-size: 15px; 
	font-weight: bold; 
}

.blueHyperLinkSmall {
	font-family: Arial, Tahoma, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	color: #3F9AD3;
	text-decoration:none;
	font-size: 13px; 
	font-weight: bold; 
}

.blueHyperLinkMedium {
	font-family: Arial, Tahoma, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	color: #3F9AD3;
	text-decoration:none;
	font-size: 18px; 
	font-weight: bold; 
}
