.rich-mpnl-header { display: none; }
.rich-mpnl-body 
{
	background-color: #3F8FC3;
	padding: 0;
}

.rich-tool-tip
{
	background-color: #eef2f8;
	border-color: #7196c8;
}

.reviews_background_filler
{
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #FFFFFF;
}

.reviews_left_wrapper
{
	width: 80%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.reviews_right_wrapper
{
	width: 20%;
	height: 100%;
}

.reviews_hdr_60
{
	width: 60%;
}

.reviews_hdr_20
{
	width: 20%;
}

.reviews_header
{
	height: 10%; 
	position: relative;	
}

.reviews_content
{
	height: 85%;
	width: 100%;
	position: relative;
	overflow-y: auto;
}

.reviews_outer_wrapper
{
	height: 90%;
	width: 97%;
	top: 20px;
	left: 10px;
	position: absolute;
}

.reviews_inner_wrapper
{
	height: 90%;
	width: 95%;
	top: 20px;
	left: 10px;
	position: absolute;
}

.reviews_prd_name
{
	font-family: Arial, Tahoma, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; 
	font-size: 16px;
	font-weight: bold; 
	color: #000000;
}

.review_tabs
{
	position: absolute;
	top: 100px;
}

.review_tab_active
{
	background: none; 
	background-color: #FFFFFF; 
	background-image: none; 
	background-repeat: no-repeat; 
	height: 40px;
	width: 160px;
	border: none;
	border-width: 0px;
	padding-top: 20px;
	text-align: left;
	font-weight: bold;
	padding-left: 10px;
	cursor: pointer;
}

.review_tab_inactive
{
	background: none; 
	background-image: none; 
	background-repeat: no-repeat; 
	height: 40px;
	width: 160px;
	border: none;
	border-width: 0px;
	padding-top: 20px;
	text-align: left;
	font-weight: bold;
	padding-left: 10px;
	cursor: pointer;
}

.review_tab_separator {background-image: url(../images/filterseparatorline.png); height: 10px; width: 160px; background-color: #3F8EC2; border: 0px; position: relative; background-repeat: no-repeat;}
.review_tab_separator:hover {background-image: url(../images/filterseparatorline.png); height: 10px; width: 160px; background-color: #3F8EC2; border: 0px;  position: relative;}

.review_hdr_title
{
	font-size: 13px;
	color: #3F8FD3;
}

.review_hdr_info
{
	text-align: right;
	vertical-align: middle;
	padding-right: 10px;
	padding-bottom: 3px;
}










