      <p>
        <img src="/images/dialog_1.png" alt="My Current Product Category Subscriptions" width="370" height="28" style="padding-top: 10px;" />
      </p>
      <p>
        <%= f.error_messages %>
      </p>
      <p>
      <div align="center">
        <%= f.text_field :name, :tabindex=>"1", :class=>"longEditbox_no_float", :size=> 30, :style => "width:280px;" %>
      </div>
      <br />
      </p>
        <div class="clearer"></div>
      <p>