<%= stylesheet_link_tag '/stylesheets/button.css' %>

<div id="content_area">
  <br><br>
    <p style="padding:160px 200px 200px 160px; background:url(/images/envelope_transp.png) 160px 1px no-repeat;">
    Thank you for your interest. The white paper you requested will be emailed to you shortly.
    <br>
    <br>
    <input class='button' type=button value='Subscribe to Blog' onclick='javascript:feedburner_subscribe()'>
  </p>
</div>

<script>
function feedburner_subscribe() {
  window.open(
      'http://feedburner.google.com/fb/a/mailverify?uri=amplified-analytics-blog&email=<%= @email %>', 
      'popup', 
      'scrollbars=yes,width=550,height=520');  
}
</script>