<div id="main_wrap" class="prm_body">

  <br />
  <img src="/images/prmir_beta_header.png" alt="Product Reputation Market Intelligence Reporter">
  <div id="loading_bar" style="display:none;"><img src="/images/loading.gif"></div>
  
  <%= render 'categories/product_lookup' %>
  <div id="category_list">
    <%= render :partial => 'categories/search_results' %>
  </div>
  
</div>

