<% @page_title = 'Product Submit - Amplified Analytics' -%>

<style>
.content {
  height: auto;
}
</style>  

<div style='margin:20px;padding:20px;background:#fff;'>
<div style='color: #27488A;font-size:30px;font-family:Arial;'>
Your request is accepted.<br>
You will be notified by email when the results are ready.</div>
<img src=/images/products/product_submitted.png>
</div>

