<table class="pw_tooltip_container">
<tbody>
<tr>
<td>
					<div class="pw_tooltip_text">
						<h2 class="pw_tooltip_heading">Product Functionality Score</h2>
						<br>
						<p>
							This metric reflects the level of customer
							satisfaction with respect to the product meeting
							their expectations in terms of functionality, design
							and appearance.
						</p>
					</div>
					<center></center></td>
</tr>
<tr>
<td><img src="/images/widget/bigdial.png"></td>
</tr>
<tr>
<td>
					</td>
</tr>
</tbody>
</table>
