<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml">
<%# render 'shared/head' %>
<body style='background:#000'>  
<%= render 'shared/google_analytics_head' %>
<%= render 'shared/quantcast' %>

<%= yield %>

<%= render 'shared/google_analytics' if RAILS_ENV == 'production' -%>


 </body>
</html>